{"openapi":"3.0.0","info":{"title":"Fireblocks API","description":"Fireblocks provides a suite of applications to manage digital asset operations and a complete development platform to build your business on the blockchain.\n\n- Visit our website for more information: [Fireblocks Website](https://fireblocks.com)\n- Visit our developer docs: [Fireblocks DevPortal](https://developers.fireblocks.com)\n","version":"1.6.2","contact":{"email":"developers@fireblocks.com"}},"servers":[{"url":"https://api.fireblocks.io/v1","description":"Fireblocks Production Environment Base URL"},{"url":"https://sandbox-api.fireblocks.io/v1","description":"Fireblocks Sandbox Environment Base URL"}],"paths":{"/vault/accounts":{"get":{"x-internal":true,"deprecated":true,"summary":"Get vault accounts","description":"DEPRECATED - Please use `/vault/accounts_paged` endpoint instead.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"high_compute","x-readme":{"code-samples":[{"language":"python","code":"vault_accounts = fireblocks.get_vault_accounts()","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAccounts = await fireblocks.getVaultAccounts();","name":"Fireblocks SDK Javascript example"}]},"parameters":[{"in":"query","name":"namePrefix","required":false,"schema":{"type":"string"}},{"in":"query","name":"nameSuffix","required":false,"schema":{"type":"string"}},{"in":"query","name":"minAmountThreshold","required":false,"schema":{"type":"number"}},{"in":"query","name":"assetId","required":false,"schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"A list of vault accounts","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetVaultAccountsResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getVaultAccounts"},"post":{"summary":"Create a new vault account","operationId":"createVaultAccount","description":"Creates a new vault account with the requested name.\n**Note: ** Vault account names should consist of ASCII characters only.\nLearn more about Fireblocks Vault Accounts in the following [guide](https://developers.fireblocks.com/reference/create-vault-account).\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI, customer_ref_id, auto_fueling)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI, customerRefId, autoFueling);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.createVaultAccount(vaultsApiCreateVaultAccountRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().createVaultAccount(createVaultAccountRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.create_vault_account(create_vault_account_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVaultAccountRequest"}}}},"responses":{"200":{"description":"A Vault Account object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAccount"}}}},"default":{"$ref":"#/components/responses/Error"}},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.createVaultAccount(vaultsApiCreateVaultAccountRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().createVaultAccount(createVaultAccountRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.create_vault_account(create_vault_account_request, idempotency_key);"}]}},"/vault/accounts_paged":{"get":{"summary":"Get vault accounts (Paginated)","description":"Gets all vault accounts in your workspace. This endpoint returns a limited amount of results with a quick response time.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"external_query","x-readme":{"code-samples":[{"language":"python","code":"vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultAccountsPagedResponse>> = fireblocks.vaults.getPagedVaultAccounts(vaultsApiGetPagedVaultAccountsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultAccountsPagedResponse>> response = fireblocks.vaults().getPagedVaultAccounts(namePrefix, nameSuffix, minAmountThreshold, assetId, orderBy, before, after, limit, tagIds);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_paged_vault_accounts(name_prefix, name_suffix, min_amount_threshold, asset_id, order_by, before, after, limit, tag_ids);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"query","name":"namePrefix","required":false,"schema":{"type":"string"}},{"in":"query","name":"nameSuffix","required":false,"schema":{"type":"string"}},{"in":"query","name":"minAmountThreshold","required":false,"description":"Specifying minAmountThreshold will filter accounts with balances greater than this value, otherwise, it will return all accounts. The amount set in this parameter is the native asset amount and not its USD value.","schema":{"type":"number","example":10}},{"in":"query","name":"assetId","required":false,"schema":{"type":"string","x-fb-entity":"asset"}},{"in":"query","name":"orderBy","required":false,"schema":{"type":"string","enum":["ASC","DESC"],"default":"DESC"}},{"in":"query","name":"before","required":false,"schema":{"type":"string"}},{"in":"query","name":"after","required":false,"schema":{"type":"string"}},{"in":"query","name":"limit","required":false,"schema":{"type":"number","minimum":1,"maximum":500,"default":200}},{"in":"query","name":"tagIds","required":false,"description":"List of tag IDs to filter vault accounts.","schema":{"type":"array","items":{"type":"string","format":"uuid"},"maxItems":100}}],"responses":{"200":{"description":"A VaultAccountsPagedResponse object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAccountsPagedResponse"}}}}},"operationId":"getPagedVaultAccounts","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultAccountsPagedResponse>> = fireblocks.vaults.getPagedVaultAccounts(vaultsApiGetPagedVaultAccountsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultAccountsPagedResponse>> response = fireblocks.vaults().getPagedVaultAccounts(namePrefix, nameSuffix, minAmountThreshold, assetId, orderBy, before, after, limit, tagIds);"},{"lang":"Python","source":"response = fireblocks.vaults.get_paged_vault_accounts(name_prefix, name_suffix, min_amount_threshold, asset_id, order_by, before, after, limit, tag_ids);"}]}},"/vault/accounts/{vaultAccountId}":{"get":{"summary":"Get a vault account by ID","description":"Get a vault account by its unique ID.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"external_query","x-readme":{"code-samples":[{"language":"python","code":"vault_account = fireblocks.get_vault_account(vault_account_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.getVaultAccount(vaultsApiGetVaultAccountRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().getVaultAccount(vaultAccountId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_vault_account(vault_account_id);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}}],"responses":{"200":{"description":"A Vault Account object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAccount"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getVaultAccount","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.getVaultAccount(vaultsApiGetVaultAccountRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().getVaultAccount(vaultAccountId);"},{"lang":"Python","source":"response = fireblocks.vaults.get_vault_account(vault_account_id);"}]},"put":{"summary":"Rename a vault account","description":"Renames the requested vault account.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"vaultAccount = fireblocks.update_vault_account(vault_account_id, name)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId, name);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<RenameVaultAccountResponse>> = fireblocks.vaults.updateVaultAccount(vaultsApiUpdateVaultAccountRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<RenameVaultAccountResponse>> response = fireblocks.vaults().updateVaultAccount(updateVaultAccountRequest, vaultAccountId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.update_vault_account(update_vault_account_request, vault_account_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to edit","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVaultAccountRequest"}}}},"responses":{"201":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameVaultAccountResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"updateVaultAccount","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<RenameVaultAccountResponse>> = fireblocks.vaults.updateVaultAccount(vaultsApiUpdateVaultAccountRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<RenameVaultAccountResponse>> response = fireblocks.vaults().updateVaultAccount(updateVaultAccountRequest, vaultAccountId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.update_vault_account(update_vault_account_request, vault_account_id, idempotency_key);"}]}},"/vault/asset_wallets":{"get":{"summary":"Get vault wallets (Paginated)","description":"Get all vault wallets of the vault accounts in your workspace. \nA vault wallet is an asset in a vault account. \n\nThis method allows fast traversal of all account balances.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"query","x-readme":{"code-samples":[{"language":"python","code":"vault_accounts = fireblocks.get_asset_wallets(filters)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAccounts = await fireblocks.getAssetWallets(filters);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<PaginatedAssetWalletResponse>> = fireblocks.vaults.getAssetWallets(vaultsApiGetAssetWalletsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<PaginatedAssetWalletResponse>> response = fireblocks.vaults().getAssetWallets(totalAmountLargerThan, assetId, orderBy, before, after, limit);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_asset_wallets(total_amount_larger_than, asset_id, order_by, before, after, limit);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"query","name":"totalAmountLargerThan","description":"When specified, only vault wallets with total balance greater than this amount are returned.","required":false,"schema":{"type":"number"}},{"in":"query","name":"assetId","required":false,"description":"When specified, only vault wallets with the specified ID are returned.","schema":{"type":"string","x-fb-entity":"asset"}},{"in":"query","name":"orderBy","required":false,"schema":{"type":"string","enum":["ASC","DESC"],"default":"DESC"}},{"in":"query","name":"before","required":false,"description":"Fetches the next paginated response before this element. \nThis element is a cursor and is returned at the response of the previous page.\n","schema":{"type":"string"}},{"in":"query","name":"after","required":false,"description":"Fetches the next paginated response after this element. This element is a cursor and is returned at the response of the previous page.","schema":{"type":"string"}},{"in":"query","name":"limit","required":false,"description":"The maximum number of vault wallets in a single response. \n\nThe default is 200 and the maximum is 1000.\n","schema":{"type":"number","minimum":1,"maximum":1000,"default":200}}],"responses":{"200":{"description":"A PaginatedAssetWalletResponse object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedAssetWalletResponse"}}}}},"operationId":"getAssetWallets","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<PaginatedAssetWalletResponse>> = fireblocks.vaults.getAssetWallets(vaultsApiGetAssetWalletsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<PaginatedAssetWalletResponse>> response = fireblocks.vaults().getAssetWallets(totalAmountLargerThan, assetId, orderBy, before, after, limit);"},{"lang":"Python","source":"response = fireblocks.vaults.get_asset_wallets(total_amount_larger_than, asset_id, order_by, before, after, limit);"}]}},"/vault/accounts/{vaultAccountId}/hide":{"post":{"summary":"Hide a vault account in the console","description":"Hides the requested vault account from the web console view.\nThis operation is required when creating thousands of vault accounts to serve your end-users.\nUsed for preventing the web console to be swamped with too much vault accounts.\nLearn more in the following [guide](https://developers.fireblocks.com/docs/create-direct-custody-wallets#hiding-vault-accounts).\nNOTE: Hiding the vault account from the web console will also hide all the related transactions to/from this vault.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.hide_vault_account(vault_account_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.hideVaultAccount(vaultsApiHideVaultAccountRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().hideVaultAccount(vaultAccountId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.hide_vault_account(vault_account_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The vault account to hide","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"201":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultActionStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"hideVaultAccount","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.hideVaultAccount(vaultsApiHideVaultAccountRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().hideVaultAccount(vaultAccountId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.hide_vault_account(vault_account_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/unhide":{"post":{"summary":"Unhide a vault account in the console","description":"Makes a hidden vault account visible in web console view.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.unhide_vault_account(vault_account_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.unhideVaultAccount(vaultsApiUnhideVaultAccountRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().unhideVaultAccount(vaultAccountId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.unhide_vault_account(vault_account_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The vault account to unhide","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"201":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultActionStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"unhideVaultAccount","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.unhideVaultAccount(vaultsApiUnhideVaultAccountRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().unhideVaultAccount(vaultAccountId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.unhide_vault_account(vault_account_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/activate":{"post":{"summary":"Activate a wallet in a vault account","description":"Initiates activation for a wallet in a vault account. \nActivation is required for tokens that need an on-chain transaction for creation (XLM tokens, SOL tokens etc).\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to return, or 'default' for the default vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVaultAssetResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"activateAssetForVaultAccount","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<CreateVaultAssetResponse>> = fireblocks.vaults.activateAssetForVaultAccount(vaultsApiActivateAssetForVaultAccountRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response = fireblocks.vaults().activateAssetForVaultAccount(vaultAccountId, assetId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.activate_asset_for_vault_account(vault_account_id, asset_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<CreateVaultAssetResponse>> = fireblocks.vaults.activateAssetForVaultAccount(vaultsApiActivateAssetForVaultAccountRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response = fireblocks.vaults().activateAssetForVaultAccount(vaultAccountId, assetId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.activate_asset_for_vault_account(vault_account_id, asset_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/set_customer_ref_id":{"post":{"summary":"Set an AML/KYT ID for a vault account","description":"Assigns an AML/KYT customer reference ID for the vault account. Learn more about Fireblocks AML management in the following [guide](https://developers.fireblocks.com/docs/define-aml-policies). </br>Endpoint Permission: Admin, Non-Signing Admin.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id, customer_ref_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId, customerRefId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.setVaultAccountCustomerRefId(vaultsApiSetVaultAccountCustomerRefIdRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountCustomerRefId(setCustomerRefIdRequest, vaultAccountId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.set_vault_account_customer_ref_id(set_customer_ref_id_request, vault_account_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The vault account ID","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetCustomerRefIdRequest"}}}},"responses":{"201":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultActionStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"setVaultAccountCustomerRefId","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.setVaultAccountCustomerRefId(vaultsApiSetVaultAccountCustomerRefIdRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountCustomerRefId(setCustomerRefIdRequest, vaultAccountId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.set_vault_account_customer_ref_id(set_customer_ref_id_request, vault_account_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/set_auto_fuel":{"post":{"summary":"Set auto fueling to on or off","description":"Toggles the auto fueling property of the vault account to enabled or disabled.\nVault Accounts with 'autoFuel=true' are monitored and auto fueled by the Fireblocks Gas Station.\nLearn more about the Fireblocks Gas Station in the following [guide](https://developers.fireblocks.com/docs/work-with-gas-station).\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The vault account ID","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetAutoFuelRequest"}}}},"responses":{"201":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultActionStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"setVaultAccountAutoFuel","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.setVaultAccountAutoFuel(vaultsApiSetVaultAccountAutoFuelRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountAutoFuel(setAutoFuelRequest, vaultAccountId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.set_vault_account_auto_fuel(set_auto_fuel_request, vault_account_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.setVaultAccountAutoFuel(vaultsApiSetVaultAccountAutoFuelRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountAutoFuel(setAutoFuelRequest, vaultAccountId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.set_vault_account_auto_fuel(set_auto_fuel_request, vault_account_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}":{"get":{"summary":"Get the asset balance for a vault account","description":"Returns a specific vault wallet balance information for a specific asset.\n\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,\n  Viewer.","tags":["Vaults"],"x-rate-limit-category":"read","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.get_vault_account_asset(vault_account_id, asset_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId, assetId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultAccountAsset(vaultsApiGetVaultAccountAssetRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultAccountAsset(vaultAccountId, assetId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_vault_account_asset(vault_account_id, asset_id);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to return","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"A VaultAsset object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAsset"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getVaultAccountAsset","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultAccountAsset(vaultsApiGetVaultAccountAssetRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultAccountAsset(vaultAccountId, assetId);"},{"lang":"Python","source":"response = fireblocks.vaults.get_vault_account_asset(vault_account_id, asset_id);"}]},"post":{"summary":"Create a new vault wallet","description":"Creates a wallet for a specific asset in a vault account.\nLearn more about Fireblocks Vault Wallets in the following [guide](https://developers.fireblocks.com/reference/create-vault-wallet).\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId, assetId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<CreateVaultAssetResponse>> = fireblocks.vaults.createVaultAccountAsset(vaultsApiCreateVaultAccountAssetRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response = fireblocks.vaults().createVaultAccountAsset(vaultAccountId, assetId, createAssetsRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.create_vault_account_asset(vault_account_id, asset_id, create_assets_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to return, or 'default' for the default vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAssetsRequest"}}}},"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVaultAssetResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"createVaultAccountAsset","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<CreateVaultAssetResponse>> = fireblocks.vaults.createVaultAccountAsset(vaultsApiCreateVaultAccountAssetRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response = fireblocks.vaults().createVaultAccountAsset(vaultAccountId, assetId, createAssetsRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.create_vault_account_asset(vault_account_id, asset_id, create_assets_request, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/balance":{"post":{"summary":"Refresh asset balance data","description":"Updates the balance of a specific asset in a vault account.\n\nThis API endpoint is subject to a strict rate limit.\nShould be used by clients in very specific scenarios.\n\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"high_compute","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id, asset_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId, assetId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.updateVaultAccountAssetBalance(vaultsApiUpdateVaultAccountAssetBalanceRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().updateVaultAccountAssetBalance(vaultAccountId, assetId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.update_vault_account_asset_balance(vault_account_id, asset_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to return","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"200":{"description":"A VaultAsset object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAsset"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"updateVaultAccountAssetBalance","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.updateVaultAccountAssetBalance(vaultsApiUpdateVaultAccountAssetBalanceRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().updateVaultAccountAssetBalance(vaultAccountId, assetId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.update_vault_account_asset_balance(vault_account_id, asset_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/addresses":{"get":{"x-internal":true,"deprecated":true,"summary":"Get asset addresses","description":"DEPRECATED!\n\n- If your application logic or scripts rely on the deprecated endpoint, you should update to account for GET/V1/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated before Mar 31,2024.\n- All workspaces created after Mar 31,2024. will have it disabled. If it is disabled for your workspace and you attempt to use it, you will receive the following error message: \"This endpoint is unavailable.\n- Please use the GET /v1/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated endpoint to return all the wallet addresses associated with the specified vault account and asset in a paginated list.\n\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"query","x-readme":{"code-samples":[{"language":"python","code":"depositAddresses = fireblocks.get_deposit_addresses(vault_account_id, asset_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId, assetId);","name":"Fireblocks SDK Javascript example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to return","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"A list of deposit addresses","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetVaultAccountAssetAddressesResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getVaultAccountAssetAddresses"},"post":{"summary":"Create new asset deposit address","description":"Creates a new deposit address for an asset of a vault account.\nShould be used for UTXO or Tag/Memo based assets ONLY.\n\nRequests with account based assets will fail.\n\n</br>Endpoint Permission: Admin, Non-Signing Admin.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"address = fireblocks.generate_new_address(vault_account_id, asset_id, description, customer_ref_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const address = await fireblocks.generateNewAddress(vaultAccountId, assetId, description, customerRefId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<CreateAddressResponse>> = fireblocks.vaults.createVaultAccountAssetAddress(vaultsApiCreateVaultAccountAssetAddressRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<CreateAddressResponse>> response = fireblocks.vaults().createVaultAccountAssetAddress(vaultAccountId, assetId, createAddressRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.create_vault_account_asset_address(vault_account_id, asset_id, create_address_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAddressRequest"}}}},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to return","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"200":{"description":"The created address","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAddressResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"createVaultAccountAssetAddress","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<CreateAddressResponse>> = fireblocks.vaults.createVaultAccountAssetAddress(vaultsApiCreateVaultAccountAssetAddressRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<CreateAddressResponse>> response = fireblocks.vaults().createVaultAccountAssetAddress(vaultAccountId, assetId, createAddressRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.create_vault_account_asset_address(vault_account_id, asset_id, create_address_request, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated":{"get":{"summary":"Get addresses (Paginated)","description":"Returns a paginated response of the addresses for a given vault account and asset.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"query","x-readme":{"code-samples":[{"language":"python","code":"addresses = vault_accounts = fireblocks.get_paginated_addresses(\"0\",\"ETH_TEST3\")","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const addresses = await fireblocks.getPaginatedAddresses(\"0\",\"ETH_TEST3\");","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<PaginatedAddressResponse>> = fireblocks.vaults.getVaultAccountAssetAddressesPaginated(vaultsApiGetVaultAccountAssetAddressesPaginatedRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<PaginatedAddressResponse>> response = fireblocks.vaults().getVaultAccountAssetAddressesPaginated(vaultAccountId, assetId, limit, before, after);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_vault_account_asset_addresses_paginated(vault_account_id, asset_id, limit, before, after);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account to return","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"in":"query","name":"limit","required":false,"schema":{"type":"number"}},{"in":"query","name":"before","required":false,"schema":{"type":"string"}},{"in":"query","name":"after","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated list of addresses, and pagination info.","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedAddressResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getVaultAccountAssetAddressesPaginated","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<PaginatedAddressResponse>> = fireblocks.vaults.getVaultAccountAssetAddressesPaginated(vaultsApiGetVaultAccountAssetAddressesPaginatedRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<PaginatedAddressResponse>> response = fireblocks.vaults().getVaultAccountAssetAddressesPaginated(vaultAccountId, assetId, limit, before, after);"},{"lang":"Python","source":"response = fireblocks.vaults.get_vault_account_asset_addresses_paginated(vault_account_id, asset_id, limit, before, after);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount":{"get":{"summary":"Get max spendable amount in a transaction","description":"**UTXO assets only.**\n\nRetrieve the maximum amount of the specified asset that can be spent in a single transaction from the specified vault account.\n\n**Endpoint Permissions:** Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.\n","tags":["Vaults"],"x-rate-limit-category":"read","x-readme":{"code-samples":[{"language":"python","code":"address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<GetMaxSpendableAmountResponse>> = fireblocks.vaults.getMaxSpendableAmount(vaultsApiGetMaxSpendableAmountRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<GetMaxSpendableAmountResponse>> response = fireblocks.vaults().getMaxSpendableAmount(vaultAccountId, assetId, manualSignging);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_max_spendable_amount(vault_account_id, asset_id, manual_signging);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account, or 'default' for the default vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"in":"query","name":"manualSignging","required":false,"description":"False by default. The maximum number of inputs depends if the transaction will be signed by an automated co-signer server or on a mobile device.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMaxSpendableAmountResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getMaxSpendableAmount","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<GetMaxSpendableAmountResponse>> = fireblocks.vaults.getMaxSpendableAmount(vaultsApiGetMaxSpendableAmountRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<GetMaxSpendableAmountResponse>> response = fireblocks.vaults().getMaxSpendableAmount(vaultAccountId, assetId, manualSignging);"},{"lang":"Python","source":"response = fireblocks.vaults.get_max_spendable_amount(vault_account_id, asset_id, manual_signging);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}":{"put":{"summary":"Update address description","description":"Updates the description of an existing address of an asset in a vault account.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.updateVaultAccountAssetAddress(vaultsApiUpdateVaultAccountAssetAddressRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().updateVaultAccountAssetAddress(vaultAccountId, assetId, addressId, updateVaultAccountAssetAddressRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.update_vault_account_asset_address(vault_account_id, asset_id, address_id, update_vault_account_asset_address_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVaultAccountAssetAddressRequest"}}}},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"in":"path","name":"addressId","required":true,"description":"The address for which to add a description. For XRP, use <address>:<tag>, for all other assets, use only the address","schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"201":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultActionStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"updateVaultAccountAssetAddress","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.updateVaultAccountAssetAddress(vaultsApiUpdateVaultAccountAssetAddressRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().updateVaultAccountAssetAddress(vaultAccountId, assetId, addressId, updateVaultAccountAssetAddressRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.update_vault_account_asset_address(vault_account_id, asset_id, address_id, update_vault_account_asset_address_request, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id":{"post":{"summary":"Assign AML customer reference ID","description":"Sets an AML/KYT customer reference ID for a specific address.\n</br>Endpoint Permission: Admin, Non-Signing Admin.","tags":["Vaults"],"x-rate-limit-category":"write","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id, asset_id, address_id, customer_ref_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId, assetId, addressId, customerRefId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.setCustomerRefIdForAddress(vaultsApiSetCustomerRefIdForAddressRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setCustomerRefIdForAddress(setCustomerRefIdForAddressRequest, vaultAccountId, assetId, addressId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.set_customer_ref_id_for_address(set_customer_ref_id_for_address_request, vault_account_id, asset_id, address_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"in":"path","name":"addressId","required":true,"description":"The address for which to add a description. For XRP, use <address>:<tag>, for all other assets, use only the address","schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetCustomerRefIdForAddressRequest"}}}},"responses":{"201":{"description":"OK","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultActionStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"setCustomerRefIdForAddress","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultActionStatus>> = fireblocks.vaults.setCustomerRefIdForAddress(vaultsApiSetCustomerRefIdForAddressRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setCustomerRefIdForAddress(setCustomerRefIdForAddressRequest, vaultAccountId, assetId, addressId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.set_customer_ref_id_for_address(set_customer_ref_id_for_address_request, vault_account_id, asset_id, address_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy":{"post":{"summary":"Convert a segwit address to legacy format","description":"Converts an existing segwit address to the legacy format.\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.","tags":["Vaults"],"x-rate-limit-category":"write","parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}},{"in":"path","name":"addressId","required":true,"description":"The segwit address to translate","schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"200":{"description":"The created address","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAddressResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"createLegacyAddress","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<CreateAddressResponse>> = fireblocks.vaults.createLegacyAddress(vaultsApiCreateLegacyAddressRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<CreateAddressResponse>> response = fireblocks.vaults().createLegacyAddress(vaultAccountId, assetId, addressId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.create_legacy_address(vault_account_id, asset_id, address_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<CreateAddressResponse>> = fireblocks.vaults.createLegacyAddress(vaultsApiCreateLegacyAddressRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<CreateAddressResponse>> response = fireblocks.vaults().createLegacyAddress(vaultAccountId, assetId, addressId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.create_legacy_address(vault_account_id, asset_id, address_id, idempotency_key);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs":{"get":{"summary":"Get UTXO unspent inputs information","description":"Returns unspent inputs information of an UTXO asset in a vault account.\n\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"read","x-readme":{"code-samples":[{"language":"python","code":"vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId, assetId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<GetUnspentInputsResponse>> = fireblocks.vaults.getUnspentInputs(vaultsApiGetUnspentInputsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<List<UnspentInputsResponse>>> response = fireblocks.vaults().getUnspentInputs(vaultAccountId, assetId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_unspent_inputs(vault_account_id, asset_id);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"description":"The ID of the vault account","schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"description":"The ID of the asset","schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"List of Unspent information per input","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUnspentInputsResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getUnspentInputs","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<GetUnspentInputsResponse>> = fireblocks.vaults.getUnspentInputs(vaultsApiGetUnspentInputsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<List<UnspentInputsResponse>>> response = fireblocks.vaults().getUnspentInputs(vaultAccountId, assetId);"},{"lang":"Python","source":"response = fireblocks.vaults.get_unspent_inputs(vault_account_id, asset_id);"}]}},"/vault/accounts/bulk":{"post":{"operationId":"createMultipleAccounts","summary":"Bulk creation of new vault accounts","description":"Create multiple vault accounts by running an async job.      \n- The HBAR, TON, SUI, TERRA, ALGO, and DOT blockchains are not supported.\n- Limited to a maximum of 10,000 accounts per operation.\n\n**Endpoint Permissions:** Admin, Non-Signing Admin, Signer, Approver, Editor.\n","tags":["Vaults"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMultipleAccountsRequest"}}}},"responses":{"200":{"description":"A JobCreated object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobCreated"}}}},"default":{"$ref":"#/components/responses/Error"}},"x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleAccounts(vaultsApiCreateMultipleAccountsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleAccounts(createMultipleAccountsRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.create_multiple_accounts(create_multiple_accounts_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleAccounts(vaultsApiCreateMultipleAccountsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleAccounts(createMultipleAccountsRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.create_multiple_accounts(create_multiple_accounts_request, idempotency_key);"}]}},"/vault/accounts/bulk/{jobId}":{"get":{"summary":"Get job status of bulk creation of new vault accounts","description":"Returns the current status of (or error for) the specified vault account bulk creation job.\n\n**Endpoint Permissions:** Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.\n","tags":["Vaults"],"x-rate-limit-category":"async","parameters":[{"in":"path","name":"jobId","required":true,"description":"The ID of the job to create addresses","schema":{"type":"string"},"example":"019681b4-107d-7243-942d-4c3c30e36fae"}],"responses":{"200":{"description":"A Job with status","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMultipleVaultAccountsJobStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getCreateMultipleVaultAccountsJobStatus","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<CreateMultipleVaultAccountsJobStatus>> = fireblocks.vaults.getCreateMultipleVaultAccountsJobStatus(vaultsApiGetCreateMultipleVaultAccountsJobStatusRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<CreateMultipleVaultAccountsJobStatus>> response = fireblocks.vaults().getCreateMultipleVaultAccountsJobStatus(jobId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_create_multiple_vault_accounts_job_status(job_id);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<CreateMultipleVaultAccountsJobStatus>> = fireblocks.vaults.getCreateMultipleVaultAccountsJobStatus(vaultsApiGetCreateMultipleVaultAccountsJobStatusRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<CreateMultipleVaultAccountsJobStatus>> response = fireblocks.vaults().getCreateMultipleVaultAccountsJobStatus(jobId);"},{"lang":"Python","source":"response = fireblocks.vaults.get_create_multiple_vault_accounts_job_status(job_id);"}]}},"/vault/accounts/addresses/bulk":{"post":{"operationId":"createMultipleDepositAddresses","summary":"Bulk creation of new deposit addresses","description":"**For UTXO blockchains only.**\n\nCreate multiple deposit addresses by running an async job.\n- The target Vault account should already have a UTXO asset wallet with a permanent address.\n- Limited to a maximum of 10,000 addresses per operation. Use multiple operations for the same Vault account/permanent address if needed.\n\n**Endpoint Permissions:** Admin, Non-Signing Admin.\n","tags":["Vaults"],"x-rate-limit-category":"async","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMultipleDepositAddressesRequest"}}}},"responses":{"200":{"description":"A JobCreated object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobCreated"}}}},"default":{"$ref":"#/components/responses/Error"}},"x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleDepositAddresses(vaultsApiCreateMultipleDepositAddressesRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleDepositAddresses(createMultipleDepositAddressesRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.create_multiple_deposit_addresses(create_multiple_deposit_addresses_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleDepositAddresses(vaultsApiCreateMultipleDepositAddressesRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleDepositAddresses(createMultipleDepositAddressesRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.create_multiple_deposit_addresses(create_multiple_deposit_addresses_request, idempotency_key);"}]}},"/vault/accounts/attached_tags":{"post":{"summary":"Attach or detach tags from vault accounts","description":"Attach or detach one or more tags from the requested vault accounts.\nEndpoint Permission: For protected tags: Owner, Admin, Non-Signing Admin. For non protected tags: Owner, Admin, Non-Signing Admin, Signer, Editor, Approver.","tags":["Vaults"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAccountsTagAttachmentOperationsRequest"}}}},"responses":{"200":{"description":"Tags were attached/detached successfully","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAccountsTagAttachmentOperationsResponse"}}}},"400":{"description":"- Invalid request parameters.\n- Same tag ID is provided in both tagIdsToAttach and tagIdsToDetach.\n- Vault accounts are archived.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"404":{"description":"- Tags with the requested ID not found.\n- Vault accounts with the requested ID not found.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}}},"operationId":"attachOrDetachTagsFromVaultAccounts","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultAccountsTagAttachmentOperationsResponse>> = fireblocks.vaults.attachOrDetachTagsFromVaultAccounts(vaultsApiAttachOrDetachTagsFromVaultAccountsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultAccountsTagAttachmentOperationsResponse>> response = fireblocks.vaults().attachOrDetachTagsFromVaultAccounts(vaultAccountsTagAttachmentOperationsRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.attach_or_detach_tags_from_vault_accounts(vault_accounts_tag_attachment_operations_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultAccountsTagAttachmentOperationsResponse>> = fireblocks.vaults.attachOrDetachTagsFromVaultAccounts(vaultsApiAttachOrDetachTagsFromVaultAccountsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultAccountsTagAttachmentOperationsResponse>> response = fireblocks.vaults().attachOrDetachTagsFromVaultAccounts(vaultAccountsTagAttachmentOperationsRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.attach_or_detach_tags_from_vault_accounts(vault_accounts_tag_attachment_operations_request, idempotency_key);"}]}},"/vault/accounts/attached_tags/attach":{"post":{"summary":"Attach tags to a vault accounts (deprecated)","description":"Attach one or more tags to the requested vault accounts. This endpoint is deprecated. Please use /vault/accounts/attached_tags instead.","tags":["Vaults"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAccountsTagAttachmentsRequest"}}}},"responses":{"204":{"description":"Tags were attached successfully"}},"operationId":"attachTagsToVaultAccounts","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.attachTagsToVaultAccounts(vaultsApiAttachTagsToVaultAccountsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().attachTagsToVaultAccounts(vaultAccountsTagAttachmentsRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.attach_tags_to_vault_accounts(vault_accounts_tag_attachments_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.attachTagsToVaultAccounts(vaultsApiAttachTagsToVaultAccountsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().attachTagsToVaultAccounts(vaultAccountsTagAttachmentsRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.attach_tags_to_vault_accounts(vault_accounts_tag_attachments_request, idempotency_key);"}]}},"/vault/accounts/attached_tags/detach":{"post":{"summary":"Detach tags from a vault accounts (deprecated)","description":"Detach one or more tags from the requested vault account. This endpoint is deprecated. Please use /vault/accounts/attached_tags instead.","tags":["Vaults"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAccountsTagAttachmentsRequest"}}}},"responses":{"204":{"description":"Tags were detached successfully"}},"operationId":"detachTagsFromVaultAccounts","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.detachTagsFromVaultAccounts(vaultsApiDetachTagsFromVaultAccountsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().detachTagsFromVaultAccounts(vaultAccountsTagAttachmentsRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.detach_tags_from_vault_accounts(vault_accounts_tag_attachments_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.detachTagsFromVaultAccounts(vaultsApiDetachTagsFromVaultAccountsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().detachTagsFromVaultAccounts(vaultAccountsTagAttachmentsRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.vaults.detach_tags_from_vault_accounts(vault_accounts_tag_attachments_request, idempotency_key);"}]}},"/vault/accounts/addresses/bulk/{jobId}":{"get":{"summary":"Get the job status of the bulk deposit address creation","description":"Returns the current status of (or an error for) the specified deposit addresss bulk creation job.\n\n**Endpoint Permissions:** Admin, Non-Signing Admin, Signer, Approver, Editor, and Viewer.\n","tags":["Vaults"],"x-rate-limit-category":"read","parameters":[{"in":"path","name":"jobId","required":true,"description":"The ID of the job to create addresses","schema":{"type":"string"},"example":"019681b4-107d-7243-942d-4c3c30e36fae"}],"responses":{"200":{"description":"A Job with status","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMultipleDepositAddressesJobStatus"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getCreateMultipleDepositAddressesJobStatus","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<CreateMultipleDepositAddressesJobStatus>> = fireblocks.vaults.getCreateMultipleDepositAddressesJobStatus(vaultsApiGetCreateMultipleDepositAddressesJobStatusRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<CreateMultipleDepositAddressesJobStatus>> response = fireblocks.vaults().getCreateMultipleDepositAddressesJobStatus(jobId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_create_multiple_deposit_addresses_job_status(job_id);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<CreateMultipleDepositAddressesJobStatus>> = fireblocks.vaults.getCreateMultipleDepositAddressesJobStatus(vaultsApiGetCreateMultipleDepositAddressesJobStatusRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<CreateMultipleDepositAddressesJobStatus>> response = fireblocks.vaults().getCreateMultipleDepositAddressesJobStatus(jobId);"},{"lang":"Python","source":"response = fireblocks.vaults.get_create_multiple_deposit_addresses_job_status(job_id);"}]}},"/vault/public_key_info":{"get":{"summary":"Get the public key for a derivation path","description":"Gets the public key information based on derivation path and signing algorithm.\n</br>Endpoint Permission: Admin, Non-Signing Admin.","tags":["Vaults"],"x-rate-limit-category":"read","x-readme":{"code-samples":[{"language":"python","code":"pubKey = fireblocks.get_public_key_info(algorithm, derivation_path, compressed)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const PublicKeyInfoArgs = { algorithm: 'MPC_ECDSA_SECP256K1', derivationPath: '[44,0,0,0,0]' } const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);\n","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<PublicKeyInformation>> = fireblocks.vaults.getPublicKeyInfo(vaultsApiGetPublicKeyInfoRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfo(derivationPath, algorithm, compressed);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_public_key_info(derivation_path, algorithm, compressed);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"query","name":"derivationPath","required":true,"schema":{"type":"string"}},{"in":"query","name":"algorithm","required":true,"schema":{"type":"string"}},{"in":"query","name":"compressed","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Public key information","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicKeyInformation"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getPublicKeyInfo","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<PublicKeyInformation>> = fireblocks.vaults.getPublicKeyInfo(vaultsApiGetPublicKeyInfoRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfo(derivationPath, algorithm, compressed);"},{"lang":"Python","source":"response = fireblocks.vaults.get_public_key_info(derivation_path, algorithm, compressed);"}]}},"/vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info":{"get":{"summary":"Get an asset's public key","description":"Get the public key information for a specific asset in a vault account.\n</br>Endpoint Permission: Admin, Non-Signing Admin.","tags":["Vaults"],"x-rate-limit-category":"read","x-readme":{"code-samples":[{"language":"python","code":"pubKey = fireblocks.get_public_key_info_for_vault_account(asset_id, vault_account_id, change, address_index, compressed)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const PublicKeyInfoArgs = { assetId: 'ETH', vaultAccountId: 0, change: 0, addressIndex: 0, compressed: true } const pubKey = await fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);\n","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<PublicKeyInformation>> = fireblocks.vaults.getPublicKeyInfoForAddress(vaultsApiGetPublicKeyInfoForAddressRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfoForAddress(vaultAccountId, assetId, change, addressIndex, compressed);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_public_key_info_for_address(vault_account_id, asset_id, change, address_index, compressed);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"vaultAccountId","required":true,"schema":{"type":"string","format":"numeric","x-fb-entity":"vault_account"}},{"in":"path","name":"assetId","required":true,"schema":{"type":"string","x-fb-entity":"asset"}},{"in":"path","name":"change","required":true,"schema":{"type":"number"}},{"in":"path","name":"addressIndex","required":true,"schema":{"type":"number"}},{"in":"query","name":"compressed","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Public Key Information","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicKeyInformation"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getPublicKeyInfoForAddress","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<PublicKeyInformation>> = fireblocks.vaults.getPublicKeyInfoForAddress(vaultsApiGetPublicKeyInfoForAddressRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfoForAddress(vaultAccountId, assetId, change, addressIndex, compressed);"},{"lang":"Python","source":"response = fireblocks.vaults.get_public_key_info_for_address(vault_account_id, asset_id, change, address_index, compressed);"}]}},"/vault/assets":{"get":{"summary":"Get asset balance for chosen assets","description":"Gets the assets amount summary for all accounts or filtered accounts.\n\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"read","x-readme":{"code-samples":[{"language":"python","code":"assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix, account_name_suffix)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix, accountNameSuffix);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<GetVaultAssetsResponse>> = fireblocks.vaults.getVaultAssets(vaultsApiGetVaultAssetsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<List<VaultAsset>>> response = fireblocks.vaults().getVaultAssets(accountNamePrefix, accountNameSuffix);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_vault_assets(account_name_prefix, account_name_suffix);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"query","name":"accountNamePrefix","required":false,"schema":{"type":"string"}},{"in":"query","name":"accountNameSuffix","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Amount by asset","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetVaultAssetsResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getVaultAssets","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<GetVaultAssetsResponse>> = fireblocks.vaults.getVaultAssets(vaultsApiGetVaultAssetsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<List<VaultAsset>>> response = fireblocks.vaults().getVaultAssets(accountNamePrefix, accountNameSuffix);"},{"lang":"Python","source":"response = fireblocks.vaults.get_vault_assets(account_name_prefix, account_name_suffix);"}]}},"/vault/assets/bulk":{"post":{"summary":"Bulk creation of wallets","description":"Create multiple wallets for a given vault account by running an async job. </br>\n**Note**:\n- These endpoints are currently in beta and might be subject to changes.\n- We limit accounts to 10k per operation and 200k per customer during beta testing.\n- Currently, we are only supporting EVM wallets.\n","tags":["Assets"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAssetsBulkRequest"}}}},"responses":{"200":{"description":"A JobCreated object","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobCreated"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"createAssetsBulk","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.assets.createAssetsBulk(assetsApiCreateAssetsBulkRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.assets().createAssetsBulk(createAssetsBulkRequest, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.assets.create_assets_bulk(create_assets_bulk_request, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.assets.createAssetsBulk(assetsApiCreateAssetsBulkRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.assets().createAssetsBulk(createAssetsBulkRequest, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.assets.create_assets_bulk(create_assets_bulk_request, idempotency_key);"}]}},"/vault/assets/{assetId}":{"get":{"summary":"Get vault balance by an asset","description":"Get the total balance of an asset across all the vault accounts.\n\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.","tags":["Vaults"],"x-rate-limit-category":"read","x-readme":{"code-samples":[{"language":"python","code":"assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)","name":"Fireblocks SDK Python example (Legacy)"},{"language":"javascript","code":"const assetsBalance = await fireblocks.getVaultBalanceByAsset(assetId);","name":"Fireblocks SDK Javascript example"},{"language":"typescript","code":"const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultBalanceByAsset(vaultsApiGetVaultBalanceByAssetRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultBalanceByAsset(assetId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.vaults.get_vault_balance_by_asset(asset_id);","name":"Fireblocks SDK Python example"}]},"parameters":[{"in":"path","name":"assetId","required":true,"schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"Vault amount by asset","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultAsset"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"getVaultBalanceByAsset","x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultBalanceByAsset(vaultsApiGetVaultBalanceByAssetRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultBalanceByAsset(assetId);"},{"lang":"Python","source":"response = fireblocks.vaults.get_vault_balance_by_asset(asset_id);"}]}},"/ncw/wallets/supported_assets":{"get":{"summary":"Retrieve supported assets","description":"Get all the available supported assets for the Non-Custodial Wallet","tags":["Embedded Wallets"],"x-rate-limit-category":"query","parameters":[{"in":"query","name":"pageCursor","required":false,"description":"Next page cursor to fetch","example":"MjAyMy0xMi0xMyAyMDozNjowOC4zMDI=:MTEwMA==","schema":{"type":"string"}},{"in":"query","name":"pageSize","description":"Items per page","example":500,"required":false,"schema":{"type":"number","default":200,"maximum":400}},{"in":"query","name":"onlyBaseAssets","description":"Only base assets","example":true,"required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWalletPaginatedAssetsResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"GetEmbeddedWalletSupportedAssets","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWalletPaginatedAssetsResponse>> = fireblocks.embeddedWallets.getEmbeddedWalletSupportedAssets(embeddedWalletsApiGetEmbeddedWalletSupportedAssetsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<EmbeddedWalletPaginatedAssetsResponse>> response = fireblocks.embeddedWallets().getEmbeddedWalletSupportedAssets(pageCursor, pageSize, onlyBaseAssets);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.embedded_wallets.get_embedded_wallet_supported_assets(page_cursor, page_size, only_base_assets);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<EmbeddedWalletPaginatedAssetsResponse>> = fireblocks.embeddedWallets.getEmbeddedWalletSupportedAssets(embeddedWalletsApiGetEmbeddedWalletSupportedAssetsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<EmbeddedWalletPaginatedAssetsResponse>> response = fireblocks.embeddedWallets().getEmbeddedWalletSupportedAssets(pageCursor, pageSize, onlyBaseAssets);"},{"lang":"Python","source":"response = fireblocks.embedded_wallets.get_embedded_wallet_supported_assets(page_cursor, page_size, only_base_assets);"}]}},"/ncw/wallets":{"get":{"summary":"List wallets","description":"Get all Non Custodial Wallets","tags":["Embedded Wallets"],"x-rate-limit-category":"query","parameters":[{"in":"query","name":"pageCursor","required":false,"description":"Next page cursor to fetch","example":"MjAyMy0xMi0xMyAyMDozNjowOC4zMDI=:MTEwMA==","schema":{"type":"string"}},{"in":"query","name":"pageSize","required":false,"description":"Items per page","example":500,"schema":{"type":"number","default":200,"maximum":400}},{"in":"query","name":"sort","required":false,"description":"Field(s) to use for sorting","example":"createdAt","schema":{"enum":["createdAt"],"default":"createdAt"}},{"in":"query","name":"order","description":"Is the order ascending or descending","example":"ASC","required":false,"schema":{"type":"string","enum":["ASC","DESC"],"default":"ASC"}},{"in":"query","name":"enabled","description":"Enabled Wallets","example":true,"required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWalletPaginatedWalletsResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"GetEmbeddedWallets","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWalletPaginatedWalletsResponse>> = fireblocks.embeddedWallets.getEmbeddedWallets(embeddedWalletsApiGetEmbeddedWalletsRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<EmbeddedWalletPaginatedWalletsResponse>> response = fireblocks.embeddedWallets().getEmbeddedWallets(pageCursor, pageSize, sort, order, enabled);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.embedded_wallets.get_embedded_wallets(page_cursor, page_size, sort, order, enabled);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<EmbeddedWalletPaginatedWalletsResponse>> = fireblocks.embeddedWallets.getEmbeddedWallets(embeddedWalletsApiGetEmbeddedWalletsRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<EmbeddedWalletPaginatedWalletsResponse>> response = fireblocks.embeddedWallets().getEmbeddedWallets(pageCursor, pageSize, sort, order, enabled);"},{"lang":"Python","source":"response = fireblocks.embedded_wallets.get_embedded_wallets(page_cursor, page_size, sort, order, enabled);"}]},"post":{"summary":"Create a new wallet","description":"Create new Non Custodial Wallet","tags":["Embedded Wallets"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"}],"responses":{"201":{"description":"Wallet created successfully","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWallet"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"CreateEmbeddedWallet","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWallet>> = fireblocks.embeddedWallets.createEmbeddedWallet(embeddedWalletsApiCreateEmbeddedWalletRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<EmbeddedWallet>> response = fireblocks.embeddedWallets().createEmbeddedWallet(idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.embedded_wallets.create_embedded_wallet(idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<EmbeddedWallet>> = fireblocks.embeddedWallets.createEmbeddedWallet(embeddedWalletsApiCreateEmbeddedWalletRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<EmbeddedWallet>> response = fireblocks.embeddedWallets().createEmbeddedWallet(idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.embedded_wallets.create_embedded_wallet(idempotency_key);"}]}},"/ncw/wallets/{walletId}":{"get":{"summary":"Get a wallet","description":"Get a wallet","tags":["Embedded Wallets"],"x-rate-limit-category":"read","parameters":[{"in":"path","name":"walletId","required":true,"description":"Wallet Id","schema":{"type":"string","example":"550e8400-e29b-41d4-a716-446655440000"}}],"responses":{"200":{"description":"Successful response","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWallet"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"GetEmbeddedWallet","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWallet>> = fireblocks.embeddedWallets.getEmbeddedWallet(embeddedWalletsApiGetEmbeddedWalletRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<EmbeddedWallet>> response = fireblocks.embeddedWallets().getEmbeddedWallet(walletId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.embedded_wallets.get_embedded_wallet(wallet_id);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<EmbeddedWallet>> = fireblocks.embeddedWallets.getEmbeddedWallet(embeddedWalletsApiGetEmbeddedWalletRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<EmbeddedWallet>> response = fireblocks.embeddedWallets().getEmbeddedWallet(walletId);"},{"lang":"Python","source":"response = fireblocks.embedded_wallets.get_embedded_wallet(wallet_id);"}]}},"/ncw/wallets/{walletId}/accounts/{accountId}/assets/{assetId}":{"get":{"summary":"Retrieve asset","description":"Get asset under a specific account, under a specific Non Custodial Wallet","operationId":"GetEmbeddedWalletAsset","tags":["Embedded Wallets"],"x-rate-limit-category":"read","parameters":[{"in":"path","name":"walletId","description":"Wallet Id","example":"550e8400-e29b-41d4-a716-446655440000","required":true,"schema":{"type":"string"}},{"in":"path","name":"accountId","description":"The ID of the account","example":"0","required":true,"schema":{"type":"string"}},{"name":"assetId","required":true,"description":"The ID of the asset","example":"BTC","in":"path","schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"Successful response","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWalletAssetResponse"}}}},"default":{"$ref":"#/components/responses/Error"}},"x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWalletAssetResponse>> = fireblocks.embeddedWallets.getEmbeddedWalletAsset(embeddedWalletsApiGetEmbeddedWalletAssetRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<EmbeddedWalletAssetResponse>> response = fireblocks.embeddedWallets().getEmbeddedWalletAsset(walletId, accountId, assetId);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.embedded_wallets.get_embedded_wallet_asset(wallet_id, account_id, asset_id);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<EmbeddedWalletAssetResponse>> = fireblocks.embeddedWallets.getEmbeddedWalletAsset(embeddedWalletsApiGetEmbeddedWalletAssetRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<EmbeddedWalletAssetResponse>> response = fireblocks.embeddedWallets().getEmbeddedWalletAsset(walletId, accountId, assetId);"},{"lang":"Python","source":"response = fireblocks.embedded_wallets.get_embedded_wallet_asset(wallet_id, account_id, asset_id);"}]},"post":{"summary":"Add asset to account","description":"Get the addresses of a specific asset, under a specific account, under a specific Non Custodial Wallet","tags":["Embedded Wallets"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"},{"in":"path","name":"walletId","description":"Wallet Id","example":"550e8400-e29b-41d4-a716-446655440000","required":true,"schema":{"type":"string"}},{"in":"path","name":"accountId","description":"The ID of the account","example":"0","required":true,"schema":{"type":"string","x-fb-entity":"asset"}},{"name":"assetId","required":true,"description":"The ID of the asset","example":"BTC","in":"path","schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWalletAddressDetails"}}}},"default":{"$ref":"#/components/responses/Error"}},"operationId":"AddEmbeddedWalletAsset","x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWalletAddressDetails>> = fireblocks.embeddedWallets.addEmbeddedWalletAsset(embeddedWalletsApiAddEmbeddedWalletAssetRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<EmbeddedWalletAddressDetails>> response = fireblocks.embeddedWallets().addEmbeddedWalletAsset(walletId, accountId, assetId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.embedded_wallets.add_embedded_wallet_asset(wallet_id, account_id, asset_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<EmbeddedWalletAddressDetails>> = fireblocks.embeddedWallets.addEmbeddedWalletAsset(embeddedWalletsApiAddEmbeddedWalletAssetRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<EmbeddedWalletAddressDetails>> response = fireblocks.embeddedWallets().addEmbeddedWalletAsset(walletId, accountId, assetId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.embedded_wallets.add_embedded_wallet_asset(wallet_id, account_id, asset_id, idempotency_key);"}]}},"/ncw/wallets/{walletId}/accounts/{accountId}/assets/{assetId}/balance":{"put":{"operationId":"RefreshEmbeddedWalletAssetBalance","description":"Refresh the balance of an asset in a specific account","summary":"Refresh asset balance","tags":["Embedded Wallets"],"x-rate-limit-category":"write","parameters":[{"$ref":"#/components/parameters/X-Idempotency-Key"},{"in":"path","name":"walletId","description":"Wallet Id","example":"550e8400-e29b-41d4-a716-446655440000","required":true,"schema":{"type":"string"}},{"in":"path","name":"accountId","description":"The ID of the account","example":"0","required":true,"schema":{"type":"string"}},{"name":"assetId","required":true,"description":"The ID of the asset","example":"BTC","in":"path","schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"Successful response","headers":{"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWalletAssetBalance"}}}},"default":{"$ref":"#/components/responses/Error"}},"x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWalletAssetBalance>> = fireblocks.embeddedWallets.refreshEmbeddedWalletAssetBalance(embeddedWalletsApiRefreshEmbeddedWalletAssetBalanceRequest);","name":"Fireblocks SDK TypeScript example"},{"language":"java","code":"CompletableFuture<ApiResponse<EmbeddedWalletAssetBalance>> response = fireblocks.embeddedWallets().refreshEmbeddedWalletAssetBalance(walletId, accountId, assetId, idempotencyKey);","name":"Fireblocks SDK Java example"},{"language":"python","code":"response = fireblocks.embedded_wallets.refresh_embedded_wallet_asset_balance(wallet_id, account_id, asset_id, idempotency_key);","name":"Fireblocks SDK Python example"}]},"x-codeSamples":[{"lang":"TypeScript","source":"const response: Promise<FireblocksResponse<EmbeddedWalletAssetBalance>> = fireblocks.embeddedWallets.refreshEmbeddedWalletAssetBalance(embeddedWalletsApiRefreshEmbeddedWalletAssetBalanceRequest);"},{"lang":"Java","source":"CompletableFuture<ApiResponse<EmbeddedWalletAssetBalance>> response = fireblocks.embeddedWallets().refreshEmbeddedWalletAssetBalance(walletId, accountId, assetId, idempotencyKey);"},{"lang":"Python","source":"response = fireblocks.embedded_wallets.refresh_embedded_wallet_asset_balance(wallet_id, account_id, asset_id, idempotency_key);"}]},"get":{"operationId":"GetEmbeddedWalletAssetBalance","summary":"Retrieve asset balance","description":"Get balance for specific asset, under a specific account","tags":["Embedded Wallets"],"x-rate-limit-category":"read","parameters":[{"in":"path","name":"walletId","description":"Wallet Id","example":"550e8400-e29b-41d4-a716-446655440000","required":true,"schema":{"type":"string"}},{"in":"path","name":"accountId","description":"The ID of the account","example":"0","required":true,"schema":{"type":"string"}},{"name":"assetId","required":true,"description":"The ID of the asset","example":"BTC","in":"path","schema":{"type":"string","x-fb-entity":"asset"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddedWalletAssetBalance"}}}},"default":{"$ref":"#/components/responses/Error"}},"x-readme":{"code-samples":[{"language":"typescript","code":"const response: Promise<FireblocksResponse<EmbeddedWalletAssetBalance>> = fireblocks.embeddedWallets.getEmbeddedWalletAssetBalance(embeddedWalletsApiGetEmbed
[...]
